.btn-detail {
    display: flex;
    align-items: flex-start;
    color: black;
};

.card-detail {
    width: 7rem;
    height: 10rem;
}


.div-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

