.home {
  background-color: #FF7E00;
}
.container {
  display:grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(min(100%,30rem), 1fr));
}

.filter-home {
  display: block;
  width: 100%;
  margin: auto;
}

.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
  }

 .link {
   text-decoration: none;
   color: black;
 } 

 .paginate {
   display: flex;
   margin: auto;
 }