.danger {
    color: red;
}

label {
    font-weight: bold;
}

.form-body {
    text-align: center;
    justify-content: space-between;
    margin: auto;
}

input {
    padding: 10px;
    border-radius: 6px;
}

.btn-create {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 6px;
    width: 7rem;
    cursor: pointer;
    margin-top: 15px;
}
