.danger{
    color: red
}

.form-container{
    display: flex;
    flex-direction: column;
    border: black;
    border-style: solid;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 30px;
    border-radius: 20px;
    /* background-image: url('./form-bg.gif'); */
    background-size: cover;
    overflow: hidden;
    margin-bottom: 15px;
}