.bg-go {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("https://i.pinimg.com/originals/f6/33/f6/f633f646e400568876030fa18918f642.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  
   .btn-grad {
      display: flex;
      justify-content: center;
      margin-top: 5px;
      background-color: black;
      padding: 15px 45px;
      color: #ddd;
      border-radius: 6px;
      width: 7rem;
      cursor: pointer;
  }

  .btn-grad:hover{
    transform: scale(1.25);
    font-weight: bold;
    border: solid black 4px;
  }
   