
.nav-container{
  display: flex;
  flex-direction: row;
  background-color: black;
  /* background-image: url('./nav-banner.png'); */
  background-position: center;
  overflow: hidden;
  width: auto;
  height: 150px;

}

.nav-logo-img{
  max-width: 120px;  
  height: auto; 
  margin-left: 70px;
  margin-top: 30px; 
}

.links-container{
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  margin-top: 45px;
  font-size: 25px;
  margin-left: 870px;
}

.home-link{
  margin-right: 30px;
}

.create-link{
  margin-left: 30px;
}